*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ffffff; /* ! */
    margin: 40px 60px 0px 60px;
}

/* ----- NAVBAR ----- */

nav{
    background: none; /* ! */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    padding-bottom: 20px;
    border-bottom: 1px solid #2d2d2d;
}
nav h1{
    color: #000000;
    font-size: 25px;
    font-weight: 900;
}

.onglets{
    background: none; /* ! */
    display: flex;
    align-items: center;
}
.onglets a{
    background: none; /* ! */
    color: #585858; /* ! */
    margin-left: 10px;
    padding: 5px;
    font-size: 20px;
}
.onglets a:hover{
    color: #000000; /* ! */
    text-decoration: underline;
}

/* ----- SECTION ----- */

section{
    background: none; /* ! */
    margin: 30px 0px;
}

.article{
    display: flex;
    background: none; /* ! */
    margin: 30px 0px;
}
.article img{
    height: 300px;
    width: 500px;
    border: 1px solid #494949;
    border-radius: 16px;
}
.article .right{
    background: none;
    margin-left: 30px;
}
.article .right p.date{
    color: #7f7e7e;
    margin: 10px 0px;
}
.article .right p.description{
    color: #2d2d2d; /* ! */
    margin: 15px 0px;
    text-align: justify;
}

/* ----- GENERAL ----- */

h1{
    font-size: 30px;
    font-weight: 900;
}

h2{
    font-size: 25px;
    font-weight: 900;
}

/* ----- FOOTER ----- */

footer{
    background: none; /* ! */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #2d2d2d;
}

.social-media{
    display: flex;
    margin-top: 10px;
}
.social-media p{
    margin-right: 15px;
}

/* ----- MEDIA ----- */

@media screen and (max-width: 640px){
    body{
      margin: 10px 20px;
    }
    h2{
        font-size: 18px;
    }
    .article{
        display: flex;
        flex-direction: column;
    }
    .article .right{
        background: none;
        margin-left: 0px;
    }
    .article img{
        height: 100%;
        width:100%;
    }
    .article .right p.description{
        font-size: 15px;
    }
    nav h1{
        font-size: 20px;
        font-weight: 900;
    }
    .onglets a{
        font-size: 16px;
    }
  }