*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background: #101010;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}

/* --------------- NAVBAR --------------- */

.navbar{
    padding: 20px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
    border-bottom: 2px solid #FFFFFF;
    height: fit-content;
}

.navbar a{
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 100px;
    transition: 150ms;
    font-weight: bold;
}
.navbar a:hover{
    color: #FF5757;
    transition: 150ms;
}

.navbar .logo{
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 20px;
    font-weight: bold;
}

.navbar .nav-links ul li.active a{
    color: #FF5757;
    font-weight: 600;
}

.navbar .menu{
    display: none;
    position: absolute;
    font-size: 1.5em;
    top: 15px;
    right: 10px;
    width: fit-content;
}

/* --------------- BASE --------------- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    height: fit-content;
    width: 100%;
    color: #FFFFFF;
}

.titre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #101010;
    color: #cecece;
    text-transform: none;
    font-weight: 900;
    width: 100%;
    padding: 15px 0px 15px 0px;
    border-top: 2px solid #FFFFFF;
    z-index: 50;
}
footer a{
    color: #cecece;
    margin: 0px 10px 0px 10px;
}
footer a:hover{
    text-decoration: underline;
}
footer p{
    margin: 0px 10px;
}
.footer-link{
    color: #cecece;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

/* --------------- PAGE : LOBBY --------------- */

.main-lobby{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 94vh;
}
.main-lobby a{
    color: #FFFFFF;
    margin: 30px;
    font-size: 2em;
    font-weight: bold;
    transition: 150ms;
}
.main-lobby a:hover{
    color: #FF5757;
    margin: 30px;
    transition: 150ms;
}

/* --------------- PAGE : PORTFOLIO --------------- */

.main-portfolio{
    min-height: 94vh;
}

/* --------------- PAGE : BLOG --------------- */

.main-blog{
    padding: 80px 20px;
}

.blog-article{
    display: flex;
    background: none; /* ! */
    margin: 30px 0px;
}
.blog-article img{
    height: 300px;
    width: 500px;
    border: 1px solid #494949;
    border-radius: 16px;
}
.blog-article .blog-right{
    background: none;
    margin-left: 30px;
}
.blog-article .blog-right .blog-date{
    color: #7f7e7e;
    margin: 10px 0px;
}
.blog-article .blog-right .blog-description{
    color: #cecece;
    margin: 15px 0px;
    text-align: justify;
}

/* --------------- MEDIA --------------- */

@media only screen and (max-width: 900px) {
    
    /* ----- NAVBAR ----- */

    .navbar{
        position: absolute;
        padding: 0;
        border-bottom: none;
    }

    .navbar .logo{
        position: absolute;
        top: 15px;
        left: 10px;
    }

    .navbar .menu{
        display: block;
    }

    .nav-links{
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: #101010;
        backdrop-filter: blur(40px);
        border-right: 2px solid #FFFFFF;
        width: 70%;
        height: 100vh;
        margin-left: -100%;
        transition: 150ms;
    }

    .nav-links .social{
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
        margin-bottom: 20px;
    }
    .nav-links .social a{
        margin: 0px 5px;
        border-radius: 100px;
        transition: 100ms;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }

    /* ----- BASE ----- */

    footer{
        font-size: 10px;
        margin: 0px 5px;
        border-top: 1px solid #FFFFFF;
    }

    /* ----- PORTFOLIO ----- */

    /* ----- BLOG ----- */

    .blog-article{
        display: flex;
        flex-direction: column;
    }
    .blog-article .blog-right{
        background: none;
        margin-left: 0px;
    }
    .blog-article img{
        height: 100%;
        width:90%;
    }
    .blog-article .blog-right .blog-description{
        font-size: 15px;
        width: 90%;
    }
}